# hardware-lcd SCH/BRD; Q1=12 MHz, PLL CLKOP=24 MHz.
SYSCONFIG JTAG_PORT=DISABLE MUX_CONFIGURATION_PORTS=ENABLE ;
IOBUF ALLPORTS IO_TYPE=LVCMOS33 ;
LOCATE COMP "tvout[2]" SITE "1" ;
IOBUF PORT "tvout[2]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
LOCATE COMP "clk_ext" SITE "3" ;
IOBUF PORT "clk_ext" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
LOCATE COMP "flash_cs_n" SITE "17" ;
IOBUF PORT "flash_cs_n" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
LOCATE COMP "flash_wp_n" SITE "20" ;
IOBUF PORT "flash_wp_n" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
LOCATE COMP "audio[0]" SITE "21" ;
IOBUF PORT "audio[0]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
LOCATE COMP "audio[1]" SITE "22" ;
IOBUF PORT "audio[1]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
LOCATE COMP "flash_mosi" SITE "33" ;
IOBUF PORT "flash_mosi" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
LOCATE COMP "flash_sck" SITE "34" ;
IOBUF PORT "flash_sck" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
LOCATE COMP "flash_hold_n" SITE "35" ;
IOBUF PORT "flash_hold_n" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
LOCATE COMP "res" SITE "38" ;
IOBUF PORT "res" IO_TYPE=LVCMOS33 PULLMODE=UP ;
LOCATE COMP "led_rgb[0]" SITE "39" ;
IOBUF PORT "led_rgb[0]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
LOCATE COMP "sd_cs_n" SITE "40" ;
IOBUF PORT "sd_cs_n" IO_TYPE=LVCMOS33 PULLMODE=UP ;
LOCATE COMP "led_rgb[1]" SITE "41" ;
IOBUF PORT "led_rgb[1]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
LOCATE COMP "led_rgb[2]" SITE "42" ;
IOBUF PORT "led_rgb[2]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
LOCATE COMP "sram_address[4]" SITE "43" ;
IOBUF PORT "sram_address[4]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
LOCATE COMP "sd_sck" SITE "44" ;
IOBUF PORT "sd_sck" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
LOCATE COMP "sd_miso" SITE "45" ;
IOBUF PORT "sd_miso" IO_TYPE=LVCMOS33 PULLMODE=UP ;
LOCATE COMP "sram_address[3]" SITE "47" ;
IOBUF PORT "sram_address[3]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
LOCATE COMP "sram_address[2]" SITE "48" ;
IOBUF PORT "sram_address[2]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
LOCATE COMP "sram_address[1]" SITE "49" ;
IOBUF PORT "sram_address[1]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
LOCATE COMP "sram_address[0]" SITE "50" ;
IOBUF PORT "sram_address[0]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
LOCATE COMP "sram_ce_n" SITE "52" ;
IOBUF PORT "sram_ce_n" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
LOCATE COMP "sram_data[0]" SITE "54" ;
IOBUF PORT "sram_data[0]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
LOCATE COMP "sram_data[1]" SITE "55" ;
IOBUF PORT "sram_data[1]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
LOCATE COMP "sram_data[2]" SITE "56" ;
IOBUF PORT "sram_data[2]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
LOCATE COMP "sram_data[3]" SITE "57" ;
IOBUF PORT "sram_data[3]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
LOCATE COMP "sram_data[4]" SITE "58" ;
IOBUF PORT "sram_data[4]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
LOCATE COMP "sram_data[5]" SITE "59" ;
IOBUF PORT "sram_data[5]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
LOCATE COMP "sram_data[6]" SITE "60" ;
IOBUF PORT "sram_data[6]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
LOCATE COMP "sram_data[7]" SITE "61" ;
IOBUF PORT "sram_data[7]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
LOCATE COMP "sram_we_n" SITE "62" ;
IOBUF PORT "sram_we_n" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
LOCATE COMP "sram_address[19]" SITE "63" ;
IOBUF PORT "sram_address[19]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
LOCATE COMP "sram_address[18]" SITE "65" ;
IOBUF PORT "sram_address[18]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
LOCATE COMP "sram_address[17]" SITE "67" ;
IOBUF PORT "sram_address[17]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
LOCATE COMP "sram_address[16]" SITE "68" ;
IOBUF PORT "sram_address[16]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
LOCATE COMP "sram_address[15]" SITE "69" ;
IOBUF PORT "sram_address[15]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
LOCATE COMP "sd_mosi" SITE "71" ;
IOBUF PORT "sd_mosi" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
LOCATE COMP "sram_address[5]" SITE "73" ;
IOBUF PORT "sram_address[5]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
LOCATE COMP "sram_address[6]" SITE "74" ;
IOBUF PORT "sram_address[6]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
LOCATE COMP "sram_address[7]" SITE "75" ;
IOBUF PORT "sram_address[7]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
LOCATE COMP "sram_address[8]" SITE "76" ;
IOBUF PORT "sram_address[8]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
LOCATE COMP "sram_oe_n" SITE "77" ;
IOBUF PORT "sram_oe_n" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
LOCATE COMP "sram_ub_n" SITE "78" ;
IOBUF PORT "sram_ub_n" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
LOCATE COMP "sram_lb_n" SITE "81" ;
IOBUF PORT "sram_lb_n" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
LOCATE COMP "sram_data[15]" SITE "82" ;
IOBUF PORT "sram_data[15]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
LOCATE COMP "sram_data[14]" SITE "83" ;
IOBUF PORT "sram_data[14]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
LOCATE COMP "sram_data[13]" SITE "84" ;
IOBUF PORT "sram_data[13]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
LOCATE COMP "sram_data[12]" SITE "85" ;
IOBUF PORT "sram_data[12]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
LOCATE COMP "sram_data[11]" SITE "86" ;
IOBUF PORT "sram_data[11]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
LOCATE COMP "sram_data[10]" SITE "87" ;
IOBUF PORT "sram_data[10]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
LOCATE COMP "sram_data[9]" SITE "89" ;
IOBUF PORT "sram_data[9]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
LOCATE COMP "sram_data[8]" SITE "91" ;
IOBUF PORT "sram_data[8]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
LOCATE COMP "sram_address[9]" SITE "92" ;
IOBUF PORT "sram_address[9]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
LOCATE COMP "sram_address[10]" SITE "93" ;
IOBUF PORT "sram_address[10]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
LOCATE COMP "sram_address[11]" SITE "94" ;
IOBUF PORT "sram_address[11]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
LOCATE COMP "sram_address[12]" SITE "95" ;
IOBUF PORT "sram_address[12]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
LOCATE COMP "sram_address[13]" SITE "96" ;
IOBUF PORT "sram_address[13]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
LOCATE COMP "sram_address[14]" SITE "97" ;
IOBUF PORT "sram_address[14]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
LOCATE COMP "seg_led_h[4]" SITE "98" ;
IOBUF PORT "seg_led_h[4]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
LOCATE COMP "seg_led_h[3]" SITE "99" ;
IOBUF PORT "seg_led_h[3]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
LOCATE COMP "seg_led_h[8]" SITE "100" ;
IOBUF PORT "seg_led_h[8]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
LOCATE COMP "seg_led_h[2]" SITE "103" ;
IOBUF PORT "seg_led_h[2]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
LOCATE COMP "seg_led_h[7]" SITE "104" ;
IOBUF PORT "seg_led_h[7]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
LOCATE COMP "seg_led_l[4]" SITE "105" ;
IOBUF PORT "seg_led_l[4]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
LOCATE COMP "seg_led_l[3]" SITE "106" ;
IOBUF PORT "seg_led_l[3]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
LOCATE COMP "seg_led_l[8]" SITE "107" ;
IOBUF PORT "seg_led_l[8]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
LOCATE COMP "seg_led_l[2]" SITE "111" ;
IOBUF PORT "seg_led_l[2]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
LOCATE COMP "seg_led_l[7]" SITE "112" ;
IOBUF PORT "seg_led_l[7]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
LOCATE COMP "seg_led_h[6]" SITE "113" ;
IOBUF PORT "seg_led_h[6]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
LOCATE COMP "seg_led_h[5]" SITE "114" ;
IOBUF PORT "seg_led_h[5]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
LOCATE COMP "seg_led_h[0]" SITE "115" ;
IOBUF PORT "seg_led_h[0]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
LOCATE COMP "seg_led_h[1]" SITE "117" ;
IOBUF PORT "seg_led_h[1]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
LOCATE COMP "seg_led_l[6]" SITE "121" ;
IOBUF PORT "seg_led_l[6]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
LOCATE COMP "seg_led_l[5]" SITE "122" ;
IOBUF PORT "seg_led_l[5]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
LOCATE COMP "seg_led_l[0]" SITE "127" ;
IOBUF PORT "seg_led_l[0]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
LOCATE COMP "seg_led_l[1]" SITE "128" ;
IOBUF PORT "seg_led_l[1]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
LOCATE COMP "hg_tms" SITE "130" ;
IOBUF PORT "hg_tms" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;
LOCATE COMP "hg_tck" SITE "131" ;
IOBUF PORT "hg_tck" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;
LOCATE COMP "tx" SITE "132" ;
IOBUF PORT "tx" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
LOCATE COMP "rx" SITE "133" ;
IOBUF PORT "rx" IO_TYPE=LVCMOS33 PULLMODE=UP ;
LOCATE COMP "hg_tdi" SITE "136" ;
IOBUF PORT "hg_tdi" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;
LOCATE COMP "hg_tdo" SITE "137" ;
IOBUF PORT "hg_tdo" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;
LOCATE COMP "tvout[5]" SITE "139" ;
IOBUF PORT "tvout[5]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
LOCATE COMP "tvout[4]" SITE "140" ;
IOBUF PORT "tvout[4]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
LOCATE COMP "tvout[3]" SITE "141" ;
IOBUF PORT "tvout[3]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
LOCATE COMP "tvout[0]" SITE "142" ;
IOBUF PORT "tvout[0]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
LOCATE COMP "tvout[1]" SITE "143" ;
IOBUF PORT "tvout[1]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
FREQUENCY PORT "clk_ext" 12 MHz ;
FREQUENCY NET "clk" 24 MHz ;
